.main-content {
  min-height: 100vh;
}

.hero-bg-gradient {
  background: linear-gradient(to right, #09203f, #537895);
}

.ticket-date-container {
  display: flex;
  align-items: center;
}

.control-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.price-box {
  flex: 1;
  display: flex;
  align-items: center;
}

.button-container {
  flex-grow: 0;
  flex-shrink: 0;
}

.listing-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listing-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.checkin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  border: red 10px solid;

}

.success-message {
  border: green 10px solid;
}

.flex-v-center {
  display: flex;
  align-items: center;
}

/* .tab-list {
  border: none;
} */

/* .event-card {
  height: 100%;
} */
