.main-content {
  min-height: 100vh;
}

.hero-bg-gradient {
  background: linear-gradient(to right, #09203f, #537895);
}

.ticket-date-container {
  display: flex;
  align-items: center;
}

/* .event-card {
  height: 100%;
} */
